body {
	 background-image: url('background1.gif'); 
	background-size: cover;
}

h1 {
	font-size: 40px;
	font-family: sans-serif;
	color: white;
}

p {
	font-size: 22px;
	font-family: sans-serif;
	color: white;
}
div {
  background-color: #4CAF50;
  padding: 10px;
  border-radius: 50px;
  margin: 25px 50px 25px 50px;
}

div.first {
  background: rgba(0, 19, 96, 0.25);
}